<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hse.mapper.FlowMapper">
  <resultMap id="BaseResultMap" type="cn.hse.beans.Flow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="flowCode" jdbcType="VARCHAR" property="flowcode" />
    <result column="flowName" jdbcType="VARCHAR" property="flowname" />
    <result column="flowVersion" jdbcType="VARCHAR" property="flowversion" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="enableFlag" jdbcType="INTEGER" property="enableflag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, flowCode, flowName, flowVersion, params, enableFlag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from flow
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.hse.beans.Flow">
    insert into flow (id, flowCode, flowName, 
      flowVersion, params, enableFlag
      )
    values (#{id,jdbcType=INTEGER}, #{flowcode,jdbcType=VARCHAR}, #{flowname,jdbcType=VARCHAR}, 
      #{flowversion,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{enableflag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hse.beans.Flow">
    insert into flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="flowcode != null">
        flowCode,
      </if>
      <if test="flowname != null">
        flowName,
      </if>
      <if test="flowversion != null">
        flowVersion,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="enableflag != null">
        enableFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="flowcode != null">
        #{flowcode,jdbcType=VARCHAR},
      </if>
      <if test="flowname != null">
        #{flowname,jdbcType=VARCHAR},
      </if>
      <if test="flowversion != null">
        #{flowversion,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="enableflag != null">
        #{enableflag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hse.beans.Flow">
    update flow
    <set>
      <if test="flowcode != null">
        flowCode = #{flowcode,jdbcType=VARCHAR},
      </if>
      <if test="flowname != null">
        flowName = #{flowname,jdbcType=VARCHAR},
      </if>
      <if test="flowversion != null">
        flowVersion = #{flowversion,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="enableflag != null">
        enableFlag = #{enableflag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hse.beans.Flow">
    update flow
    set flowCode = #{flowcode,jdbcType=VARCHAR},
      flowName = #{flowname,jdbcType=VARCHAR},
      flowVersion = #{flowversion,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      enableFlag = #{enableflag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>