<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper    
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hse.mapper.ProcessStatusMapper">
	<!-- 查询待办信息 -->
	<select id="findToDo"  parameterType="Map" resultType = "Map">
		SELECT
			d.id AS dangerId,
			d.responsiblePerson,
			d.rectificationSituation,
			d.completeDate,
			d.copyPerson,
			d.hiddenDoc,
			t.stepName,
			t.stepId,
			t.id AS actionTraceId,
			t.instanceId,
			t.flowId,
			t.flowName,
			t.flowCode,
			t.stepCode,
			c.projNo,
			c.checkDate,
			c.checkForm,
			c.checkContent,
			c.approvePerson,
			c.approveDate,
			c.checkPerson,
			c.draftUnit,
			c.draftDept,
			c.draftPerson,
			c.draftDate,
			c.id,
			c.recordNo
		FROM
			checkList c
		RIGHT JOIN instanceRelation r ON c.id = r.checkId
		JOIN checkAndDanger cd ON c.id = cd.checkId
		JOIN dangerList d ON d.id = cd.dangerId
		RIGHT JOIN flowActionTrace t ON t.instanceId = r.instanceId
		<where>
			t.ownerUserId = #{ownerUserId} 
			AND t.flowId = '1'
			AND t.submitUserId IS NULL
			AND c.isDel = '0'
		</where>
		UNION
			SELECT
				d.id AS dangerId,
				d.responsiblePerson,
				d.rectificationSituation,
				d.completeDate,
				d.copyPerson,
				d.hiddenDoc,
				t.stepName,
				t.stepId,
				t.id AS actionTraceId,
				t.instanceId,
				t.flowId,
				t.flowName,
				t.flowCode,
				t.stepCode,
				c.projNo,
				c.checkDate,
				c.checkForm,
				c.checkContent,
				c.approvePerson,
				c.approveDate,
				c.checkPerson,
				c.draftUnit,
				c.draftDept,
				c.draftPerson,
				c.draftDate,
				c.id,
				c.recordNo
			FROM
				flowActionTrace t
			JOIN instanceAndDelay r ON t.instanceId = r.instanceId
			RIGHT JOIN checkAndDanger cd ON cd.delayToApplyForId = r.delayToApplyId
			RIGHT JOIN checkList c ON c.id = cd.checkId
			JOIN dangerList d ON d.id = cd.dangerId
		<where>
			t.ownerUserId = #{ownerUserId} 
			AND t.submitUserId IS NULL
			AND t.flowId = '2'
		</where>
			order by draftDate desc
		 <if test="limit!= null and limit!= '' ">
			limit #{start},#{limit}
		</if> 
	</select>
	<!-- 查询待办个数-检查 -->
	<select id="findCountToDo"  parameterType="Map" resultType = "int">
		select 
			count(1) 
		FROM
			checkList c
			RIGHT JOIN instanceRelation r ON c.id = r.checkId
			RIGHT JOIN flowActionTrace t ON t.instanceId = r.instanceId
		<where>
			t.ownerUserId = #{ownerUserId} 
			AND t.submitUserId IS NULL
			AND c.isDel = '0'
			AND t.flowId = '1'
		</where>
	</select>
	<!-- 查询待办个数-延期申请 -->
	<select id="findCountToDoAnd"  parameterType="Map" resultType = "int">
			SELECT
				count(1)
			FROM
				flowActionTrace t
		<where>
			t.ownerUserId = #{ownerUserId} 
			AND t.submitUserId IS NULL
			AND t.flowId = '2'
		</where>
	</select>
	
	<!-- 查询已办信息 -->
	<select id="findHaveToDo"  parameterType="Map" resultType = "Map">
		SELECT
			t.stepName,
			t.stepId,
			t.id AS actionTraceId,
			c.projNo,
			c.checkDate,
			c.checkForm,
			c.checkContent,
			c.approvePerson,
			c.approveDate,
			c.checkPerson,
			c.draftUnit,
			c.draftDept,
			c.draftPerson,
			c.draftDate,
			c.id,
			c.recordNo
		FROM
			checkList c
		RIGHT JOIN instanceRelation r ON c.id = r.checkId
		RIGHT JOIN flowActionTrace t ON t.instanceId = r.instanceId
		<where>
			t.submitUserId = #{ownerUserId} 
			AND c.isDel = '0'
			AND t.flowId = '1'
		</where>
		UNION
		SELECT
			t.stepName,
			t.stepId,
			t.id AS actionTraceId,
			c.projNo,
			c.checkDate,
			c.checkForm,
			c.checkContent,
			c.approvePerson,
			c.approveDate,
			c.checkPerson,
			c.draftUnit,
			c.draftDept,
			c.draftPerson,
			c.draftDate,
			c.id,
			c.recordNo
		FROM
			flowInstance i
		RIGHT JOIN flowActionTrace t ON i.id = t.instanceId
		JOIN instanceAndDelay r ON t.instanceId = r.instanceId
		RIGHT JOIN checkAndDanger cd ON cd.delayToApplyForId = r.delayToApplyId
		RIGHT JOIN checkList c ON c.id = cd.checkId
		JOIN dangerList d ON d.id = cd.dangerId
		<where>
			t.submitUserId = #{ownerUserId} 
			AND t.flowId = '2'
		</where>
			 order by draftDate desc 
		 <if test="limit!= null and limit!= '' ">
			limit #{start},#{limit}
		</if> 
	</select>
	<!-- 查询已办个数-检查 -->
	<select id="findCountHaveToDo"  parameterType="Map" resultType = "int">
		select 
			count(1) 
		FROM
			checkList c
		RIGHT  JOIN instanceRelation r ON c.id = r.checkId
		RIGHT join flowActionTrace t	on t.instanceId=r.instanceId
		<where>
			t.submitUserId = #{ownerUserId} 
			AND c.isDel = '0'
			AND t.flowId = '1'
		</where>
	</select>
	<!-- 查询已办个数-延期申请 -->
	<select id="findCountHaveToDoAnd"  parameterType="Map" resultType = "int">
			select 
				count(1)
			FROM
				flowInstance i
			RIGHT JOIN flowActionTrace t ON i.id = t.instanceId
				
		<where>
			t.submitUserId = #{ownerUserId} 
			AND t.flowId = '2'
		</where>
	</select>
	
	<!-- 查询流转信息 -->
	<select id="findCirculation"  parameterType="Map" resultType = "Map">
			SELECT
				i.userId,
				t.stepName,
				t.stepId,
				t.id AS actionTraceId,
				c.projNo,
				c.checkDate,
				c.checkForm,
				c.checkContent,
				c.approvePerson,
				c.approveDate,
				c.checkPerson,
				c.draftUnit,
				c.draftDept,
				c.draftPerson,
				c.draftDate,
				c.id,
				c.recordNo
			FROM
				flowInstance i
			RIGHT JOIN instanceRelation cil ON i.id = cil.instanceId
			RIGHT JOIN checkList c ON c.id = cil.checkId
			RIGHT JOIN flowActionTrace t ON i.id = t.instanceId
			<where>
				 i.userId = #{ownerUserId}
				AND (
					t.submitUserId IS NULL
					OR t.stepId = 300
				)
				AND c.isDel = '0'
				AND t.flowId = '1'
			</where>
			UNION
			SELECT
				i.userId,
				t.stepName,
				t.stepId,
				t.id AS actionTraceId,
				c.projNo,
				c.checkDate,
				c.checkForm,
				c.checkContent,
				c.approvePerson,
				c.approveDate,
				c.checkPerson,
				c.draftUnit,
				c.draftDept,
				c.draftPerson,
				c.draftDate,
				c.id,
				c.recordNo
			FROM
				flowInstance i
			RIGHT JOIN flowActionTrace t ON i.id = t.instanceId
			JOIN instanceAndDelay r ON t.instanceId = r.instanceId
			RIGHT JOIN checkAndDanger cd ON cd.delayToApplyForId = r.delayToApplyId
			RIGHT JOIN checkList c ON c.id = cd.checkId
			JOIN dangerList d ON d.id = cd.dangerId
			<where>
				 i.userId = #{ownerUserId}
				AND i.flowId = '2'
				AND (
								t.submitUserId IS NULL
								OR t.stepId = 500				)
			</where>
			 order by draftDate desc 
		 <if test="limit!= null and limit!= '' ">
			limit #{start},#{limit}
		</if> 
	</select>
	<!-- 查询流转信息个数-检查 -->
	<select id="findCountCirculation"  parameterType="Map" resultType = "int">
		select 
			count(1) 
		FROM
				flowInstance i
			JOIN instanceRelation cil ON i.id = cil.instanceId
			JOIN checkList c ON c.id = cil.checkId
			JOIN flowActionTrace t ON i.id = t.instanceId
		<where>
			 i.userId = #{ownerUserId}
			AND (
				t.submitUserId IS NULL
				OR t.stepId = 300
			)
			AND c.isDel = '0'
			AND t.flowId = '1'
		</where>
	</select>
	<!-- 查询流转信息个数-延期申请 -->
	<select id="findCountCirculationAnd"  parameterType="Map" resultType = "int">
			SELECT
				count(1)
			FROM
				flowInstance i
			RIGHT JOIN flowActionTrace t ON i.id = t.instanceId
			<where>
				i.userId = #{ownerUserId}
				AND i.flowId = '2'
				AND (
				t.submitUserId IS NULL
				OR t.stepId = 500		)
			</where>
	</select>
	
	<!-- 查询草稿信息 -->
	<select id="findDraft"  parameterType="Map" resultType = "Map">
			SELECT
				d.id AS dangerId,
				c.projNo,
				c.checkDate,
				c.checkForm,
				c.checkContent,
				c.approvePerson,
				c.approveDate,
				c.checkPerson,
				c.draftUnit,
				c.draftDept,
				c.draftPerson,
				c.draftDate,
				c.id,
				c.recordNo
			FROM
				checkList c
			JOIN checkAndDanger cd ON c.id = cd.checkId
			JOIN dangerList d ON d.id = cd.dangerId
			<where>
			 	c.userId =  #{ownerUserId}
				AND c.isDel = '0'
				AND c.state = '0'
			</where>
			 order by c.draftDate desc 
		 <if test="limit!= null and limit!= '' ">
			limit #{start},#{limit}
		</if> 
	</select>
	<!-- 查询草稿信息个数 -->
	<select id="findCountDraft"  parameterType="Map" resultType = "int">
		select 
			count(1) 
		FROM
			checkList 
		<where>
		 	userId =  #{ownerUserId}
			AND isDel = '0'
			AND state = '0'
		</where>
	</select>
	
	<!-- 查询流转信息 -->
	<select id="findTransferInformation"  parameterType="Map" resultType = "Map">
			SELECT
				t.ownerUserName,
				t.stepName,
				t.arriveTime,
				t.submitUserId,
				t.actionName
			FROM
				checkList c
			RIGHT JOIN instanceRelation r ON c.id = r.checkId
			RIGHT JOIN flowActionTrace t ON t.instanceId = r.instanceId
		<where>
		 	c.recordNo = #{recordNo}
		</where>
			order by arriveTime desc 
 	</select>
	
</mapper>